@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
    scroll-behavior: smooth;
}
.neon-box{
    background-color: #000000;
    padding: 18px 18px;
}
.neon-lights{
    box-shadow: 0 0 50px #9d4afd;
}
.neon-light1{
    box-shadow: 0 0 50px #9d4afd;
}
.neon-light2{
    box-shadow: 0 0 50px #2fc0fa;
}
.neon-light3{
    box-shadow: 0 0 50px #4d46fd;
}
.neon-light4{
    box-shadow: 0 0 50px black;
}
.background-color-box{
    cursor: pointer;
    border-radius: 3px;
    background: #7c0000;
    box-shadow: 0 0 4px #aa0000;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 3px;
    position: fixed;
    top: 50%;
    right: 0px;
    width: 0px;
    z-index: 99999;
    margin-top: -24px;
    text-align: center;
}
.background-color-box:hover{
    box-shadow: 0 0 8px #aa0000;
    background: #9e0000;
    scale: 1.08;
}
.right{
    margin-left: -6px;
    scale: 1.3;
}
.right.active{
    display: none;
}
.background-color-box.active{
    box-shadow: 0 0 8px #7800f8;
    background: #3e038bbe;
    overflow: hidden;
    scale: 1.1; 
    width: 120px;
    right: 10px;
    height: 120px;
    animation: labas 0.2s ease-in-out;
    animation: down 0.5s ease-in-out;
}
@keyframes labas {
    0%{
        width: 0px;
    }
    100%{
        width: 120px;
    }
}

@keyframes down{
    0%{
        height: 0px;
    }
    100%{
        height: 120px;
    }
}
.background-btn-open{
    display: none;
    color:whitesmoke;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
}
.background-btn-open.active{
    display: block;
}
.background-list{
    position: absolute;
    padding: 8px 5px;
    border-radius: 10px;
    margin: auto auto;
    display: none;
    z-index: 9999;
}
.background-list.active{
    position: absolute;
    display: block;
    z-index: 9999;
}
.background-color1, .background-color2, .background-color3, .background-color4 {
    cursor: pointer;
    color: whitesmoke;
    list-style: none;
}
.background-color1:hover, .background-color2:hover, .background-color3:hover, .background-color4:hover{
    scale: 1.1;
}






.navbar{
    width: 100%;
    z-index: 99999;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    background: linear-gradient(90deg, #230b60 34%, #3a0165 77%);
}
.menu_box{
    display: flex;
    padding: 10px 10px;
    margin: 8px auto;
}
.link_menu{
    margin-top: 12px;
    justify-content: center;
    list-style: none;
    margin-left: 150px;
}
.menulist{
    display: inline;
    margin-top: 12px;
    font-size: 22px;
    font-weight: 600;
    margin-right:50px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 3px;
    border-radius: 8px;
}
.menulist:hover{
    border: #000a4a solid;
    box-shadow: 0 0 6px #5f7fff;
    
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.logo{
    letter-spacing: 1px;
    font-size: 37px;
    font-weight: 800;
}
.logo1{
    background-color: black;
    padding: 2px 6px;
    border-radius: 8px;
    color: whitesmoke;
    border: whitesmoke solid;
}
.logo2{
    background-color: whitesmoke;
    padding: 2px 6px;
    border-radius: 8px;
    color: black;
    border: black solid;
    box-shadow: 0 0 8px whitesmoke;
}
.menubtn, .menubtnclose{
    color:whitesmoke;
    z-index: 9999;
    display: none;
    margin-top: 3px;
    margin-left: 80px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    padding: 1px 5px;
}
.menubtn:hover, .menubtnclose:hover{
    border: #000a4a solid;
    box-shadow: 0 0 6px #5f7fff;
    font-size: 19px;
}
@media (max-width: 1030px){
    .link_menu{
       margin-left: 100px; 
    }
    .menulist{
        margin-right: 35px;
    }
}
@media (max-width: 980px){
    .link_menu{
       margin-left: 80px; 
    }
    .menulist{
        margin-right: 15px;
    }
}
@media (max-width: 875px){
    .menu_box{
        padding: 10px 10px;
    }
    .menubtn{
        display: block;
    }
    .menubtn.active{
        display: none;
    }
    .menubtnclose.active{
        display: block;
    }
    .link_menu{
        z-index: 999;
        display: inline-flexbox;
        position: absolute;
        margin-top: 50px;
        margin-left: 0;
        left: 0;
        padding: 200px 0;
        justify-content: center;
        backdrop-filter: blur(3px);
        width:0%;
        height: 100vh;
        list-style: none;
        text-align: center;
        background-color: #3a80e218;
        overflow: hidden;
        transition: 0.3s  cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .link_menu.active{
        width: 100%;
    }
    .menulist{
        display: block;
        margin-top: 12px;
        font-size: 21px;
        font-weight: 600;
        margin-right: 0;
    }
    .menulist:hover{
        font-size: 25px;
    }
    .logo{
        letter-spacing: 0px;
        font-size: 25px;
        margin-right: -30px;
    }
}









.tagline1stbox{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    background-image: url(images/cover1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.wrapper {
    height: 100vh;
    left: 5%;
    right: 5%;
    position: absolute;
    z-index: 990;
    display: none;
}
.wrapper.active{
    display: block;
}
.dot1 {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 15%;
    left: 10%;
    animation: animate1 4s linear infinite;
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
}
  .wrapper .dot1:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate1 8s linear infinite;
  }
  .wrapper .dot1:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate1 10s linear infinite;
  }
  .wrapper .dot1:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate1 3s linear infinite;
  }
  .wrapper .dot1:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate1 7s linear infinite;
  }
  .wrapper .dot1:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate1 9s linear infinite;
  }
  .wrapper .dot1:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate1 5s linear infinite;
  }
  .wrapper .dot1:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate1 8s linear infinite;
  }
  .wrapper .dot1:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate1 10s linear infinite;
  }
  .wrapper .dot1:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate1 6s linear infinite;
  }
  .wrapper .dot1:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate1 10s linear infinite;
  }
  .wrapper .dot1:nth-child(11) {
    top: 20%;
    left: 90%;
    animation: animate1 9s linear infinite;
  }
  .wrapper .dot1:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate1 7s linear infinite;
  }
  .wrapper .dot1:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate1 8s linear infinite;
  }
  .wrapper .dot1:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate1 6s linear infinite;
  }
  .wrapper .dot1:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate1 9s linear infinite;
  }
  @keyframes animate1 {
    0% {
      transform: scale(0) translateY(0px) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
}

.switch1{
    position: absolute;
    display: block;
    padding: 5px 5px;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 20px;
    width:fit-content;
    color: antiquewhite;
    cursor: pointer;
    border: #311f57 solid;
    box-shadow: 0px 0px 2px #6cebff;
    border-radius: 10px;
}
.switch0.active{
    position: absolute;
    display: block;
    padding: 5px 5px;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 20px;
    width:fit-content;
    color: antiquewhite;
    cursor: pointer;
    border: #311f57 solid;
    box-shadow: 0px 0px 2px #6cebff;
    border-radius: 10px;
    z-index: 999;
}
.switch1:hover{
    box-shadow: 0px 0px 5px #85efff;
    font-size:21px;
}
.switch0:hover{
    box-shadow: 0px 0px 5px #85efff;
    font-size:21px;
}
.switch1.active{
    display: none;
}
.switch0{
    display: none;
}
.tagline2rdbox{
    justify-content:space-around;
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
}
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

.tagline_content{
    font-family: 'Rubik', sans-serif;
    background: rgb(63, 161, 251);
    background: linear-gradient(
      142deg,
      #350183 30%,
      #7804c0 60%
    );
    color: whitesmoke;
    align-self: center;
    text-align: center;
    border-radius: 12px;
    padding: 10px 18px;
    opacity: 0.9;
    font-size: 40px;
    font-weight:900;
    width: 600px;
    text-shadow: 3px 1px 1px #000000, 2px 2px 1px #002784,
    3px 3px 1px #002373, 4px 4px 1px #00113a;

}
.pic-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic-box{
    width: 350px;
    height: 350px;
    position: relative;
}
.pic-spin-container{
    width: 100%;
    height: 100%;
    animation: spin 12s ease-in-out infinite alternate;
    position: relative;
}
.pic-shape {
    width: 100%;
    height: 100%;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 8s ease-in-out infinite;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 8px #a246ff;
    z-index: 5;
}
.pic-bd{
    width: 142%;
    height: 142%;
    position: absolute;
    left: -21%;
    top: -21%;
    background: url(images/piccover1.png);
    background-position: center;
    background-size: 85%;
    animation: spin 12s ease-in-out infinite alternate-reverse;
    opacity: 1;
    z-index: 2;
}
@keyframes spin {
    to {
      transform: rotate(1turn);
    }
  } 
@keyframes morph {
    0%, 100% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
    50% {
        border-radius: 40% 60% / 70% 30%;
    } 
}
@media (max-width: 1100px){
    .tagline1stbox{
        margin-top: 5px;
    }
    .wrapper {
        height: 65vh;
        position: absolute;
        width: 85%;
        z-index: 990;
    }
    .tagline1stbox{
        background: url(images/cover0.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height:auto;
    }
    .tagline2rdbox{
        height: auto;
        flex-wrap: wrap;
        padding: 25px 5px;
        gap: 100px;
    }
    .switch1{
        margin-top: 150px;
        font-size: 16px;
    }
    .switch1:hover{
        font-size: 18px;
    }
    .switch0{
        margin-top: 150px;
        font-size: 16px;
    }
    .switch0:hover{
        font-size: 18px;
    }
    .switch1.active{
        margin-top: 150px;
        font-size: 16px;
    }
    .switch0.active{
        margin-top: 150px;
        font-size: 16px;
    }
    .pic-container{
        margin-top: 200px;
        height: 300px;
    }
    .pic-box{
        width: 280px;
        height: 280px;
        position: relative;
      }
    .tagline_content{
        margin-bottom: 200px;
        height: auto;
        text-align: center;
        border-radius: 12px;
        width: 70%;
        font-size: 30px;
        font-weight:900;
    }
    @keyframes animate1 {
        0% {
          transform: scale(0) translateY(0px) rotate(70deg);
        }
        100% {
          transform: scale(1.02) translateY(-100px) rotate(360deg);
        }
    }
}
@media (max-width: 860px){
    .tagline1stbox{
        margin-top: 5px;
    }
    .wrapper {
        height: 90vh;
        position: absolute;
        z-index: 990;
    
    }
    .switch1{
        margin-top: 100px;
        font-size: 11px;
    }
    .switch1:hover{
        font-size: 13px;
    }
    .switch0{
        margin-top: 100px;
        font-size: 11px;
    }
    .switch0:hover{
        font-size: 13px;
    }
    .switch1.active{
        margin-top: 100px;
        font-size: 11px;
    }
    .switch0.active{
        margin-top: 100px;
        font-size: 11px;
    }
    .tagline2rdbox{
        flex-wrap: wrap;
        padding: 25px 5px;
    }
    .pic-container{
        margin-top: 100px;
        height: 300px;
    }  
    .pic-box{
        width: 180px;
        height: 180px;
        position: relative;
      }
    .tagline_content{
        margin-bottom: 100px;
        margin-left: 10px;
        margin-right: 15px;
        height: auto;
        text-align: center;
        border-radius: 12px;
        width: 85%;
        font-size: 25px;
        font-weight:900;
    }
    @keyframes animate1 {
        0% {
          transform: scale(0) translateY(0px) rotate(70deg);
        }
        100% {
          transform: scale(1) translateY(-100px) rotate(360deg);
        }
    }
}




.about1stbox{
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 85px;
    padding-bottom: 40px;
    background-image: url(images/cover8.png);
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
}
.bubbles_on{
    display: block;
    padding: 5px 5px;
    font-size: 20px;
    margin-top: 15px;
    width:fit-content;
    color: antiquewhite;
    cursor: pointer;
    border: #221342 solid;
    box-shadow: 0px 0px 2px #d48af6;
    border-radius: 10px;
}
.bubbles_on:hover{
    box-shadow: 0px 0px 5px #e5acff;
    scale: 1.05;
}
.bubbles_on.active{
    display: none;
}
.bubbles_off{
    display: none;
    padding: 5px 5px;
    font-size: 20px;
    margin-top: 15px;
    width:fit-content;
    color: antiquewhite;
    cursor: pointer;
    border: #221342 solid;
    box-shadow: 0px 0px 2px #d48af6;
    border-radius: 10px;
}
.bubbles_off:hover{
    box-shadow: 0px 0px 5px #e5acff;
    scale: 1.05;
}
.bubbles_off.active{
    display: block;
}
.about2ndbox{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.pic_about{
    z-index: 1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.colorbox{
    position: relative;
    display: flex;
    justify-self: center;
    border-radius: 50%;  
    background-color: #000000;
    width: fit-content;
    padding: 3px 3px;
    overflow: hidden;
    margin-bottom: 50px;
  
}
.colorbox::before{
    position: absolute;
    content: '';
    background: linear-gradient(0deg,transparent,transparent,#ff6be1,#ff1fd2);
    top: 1%;
    left: -18%;
    width: 175px;
    height: 125px;
    transform-origin: bottom right;   
    animation: animate 6s linear infinite;
}
.colorbox::after{
    position: absolute;
    content: '';
    background: linear-gradient(0deg,transparent,transparent,#ff6be1,#ff1fd2);
    top: 1%;
    left: -18%;
    width: 175px;
    height: 125px;
    transform-origin: bottom right;   
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.second_color{
    position: absolute;
    top: 0;
    inset: 0;
}
.second_color::before{
    position: absolute;
    content: '';
    background: linear-gradient(0deg,transparent,transparent,#5dfcff,#00fbff);
    top: 1%;
    left: -18%;
    width: 175px;
    height: 125px;
    transform-origin: bottom right;   
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.second_color::after{
    position: absolute;
    content: '';
    background: linear-gradient(0deg,transparent,transparent,#5dfcff,#00fbff);
    top: 1%;
    left: -18%;
    width: 175px;
    height: 125px;
    transform-origin: bottom right;   
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.firstname{
    font-weight: 600;
    font-size: 25px;
    color: whitesmoke;
}
.say{
    padding: 10px 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    background-image: url(images/cover5.png);
    background-size: cover;
    opacity: 0.90;
    box-shadow: 0 0 4px #df3cff, 0 0 4px #3cffff;
}
.hi{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
}
.about_text {
    text-indent: 50px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    color: white;
    text-align: justify;
    letter-spacing: 1px;
}
.bubbles{
    justify-content: center;
    display: none;
    z-index: 0;
    position: relative;
    display:flex;
    width: 100%;
}
.bubbles.active{
    display: flex;
}
.bb{
    display: none;
    z-index: 0;
    position:relative;
    width: 15px;
    height: 15px;
    background: #e300b6;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ff7fe5,
     0 0 25px #fd00cb,
     0 0  50px #ff00cc;
    animation: bubble 20s linear infinite;
    animation-duration: calc(500s / var(--i));
}
.bb1{
    animation: bubble1 20s linear infinite;
    animation-duration: calc(500s / var(--i));
}
.bb.active{
    display: block;
}
.bubbles .bb:nth-child(even){
    display:none;
    z-index: 0;
    background: #00fbff;
    box-shadow: 0 0 0 5px #5dfcff,
     0 0 25px #4afcff,
     0 0  50px #4afcff;
}
.bb:nth-child(even).active{
    display: block;
}
@keyframes bubble{
    0%, 100%{
      transform: translateY(-750px) scale(1.5);
    }
    50%{
      transform: translateY(50px) scale(1.5);
    }
}
@keyframes bubble1{
    0%, 100%{
      transform: translateY(-1400px) scale(1.5);
    }
    50%{
      transform: translateY(50px) scale(1.5);
    }
}
.about_show{
    position: relative;
    z-index: 1;
    color: white;
    padding: 4px 6px;
    margin-top: 15px;
    margin-left: 50px;
    width:fit-content ;
    border-radius: 12px;
    box-shadow: 0 0 3px #df3cff ;
    cursor: pointer;
}
.about_show:hover{
    box-shadow: 0 0 6px #df3cff ;
    scale: 1.1;
}
.about_show.active{
    display: none;
}
.about_less{
    position: relative;
    display: none;
    z-index: 1;
    color: white;
    padding: 4px 8px;
    margin-top: 15px;
    margin-left: 50px;
    width:fit-content ;
    border-radius: 12px;
    box-shadow: 0 0 3px #df3cff ;
    cursor: pointer;
}
.about_less:hover{
    box-shadow: 0 0 6px #df3cff ;
    scale: 1.1;
}
.about_less.active{
    display: block;
}
.cert_mainbox{
    height: 0vh;
    overflow: hidden;
}
.mainbox{
    height: 0vh;
    animation: cert1 1s ease-in-out;
    overflow: hidden;
}
@keyframes cert1{
    0%{
        height: 100vh;
    }
    100%{  
        height: 0vh;
    }
}
@keyframes rotate1{
    from {
        transform: rotate3d(1, 1, 1, 0deg); 
      }
      to {
        transform: rotate3d(1, 1, 1, 360deg);
      }
}
.cert_mainbox.active{
    height: auto;
    overflow: hidden;
    animation: cert 2s ease-in-out;
}
@keyframes cert{
    0%{
        height: 0vh;
    }
    25%{
        height: 25vh;
    }
    50%{
        height: 50vh;
    }
    75%{
        height: 75vh;
    }
    100%{  
        height: auto;
    }
}
.cert_div{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}
.boxpic, .boxpic1, .boxpic2, .boxpic3, .boxpic4{
    z-index: 1;
    width: 350px;
    height: 300px;
    cursor: pointer;
}
.close-btn, .close-btn1, .close-btn2, .close-btn3, .close-btn4 {
    display: none;
    border-radius: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.close-btn.active, .close-btn1.active, .close-btn2.active, .close-btn3.active, .close-btn4.active{
    display: block;
}
.bigboxpic, .bigboxpic1, .bigboxpic2, .bigboxpic3, .bigboxpic4{
    position:absolute;
    z-index: 2;
    width: 80%;
    height: 630px;   
}
.piccert{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0.85;
    border: #000a4a solid 0.5px;
    box-shadow: 0 0 4px #df3cff, 0 0 4px #3cffff;  
}
.piccert:hover{
    box-shadow: 0 0 8px #df3cff, 0 0 8px #3cffff;
    border-radius: 12px;
}
.show{
animation: rotate1 1s linear;
}
@media (max-width: 800px){
    .bubbles_on{
        font-size: 15px;
        margin-top: 15px;
    }
    .bubbles_on:hover{
        scale: 1.05;
    }
    .bubbles_on.active{
        display: none;
    }
    .bubbles_off{
        font-size: 15px;
        margin-top: 15px;
    }
    .bubbles_off:hover{
        scale: 1.05;
    }
    .bubbles_off.active{
        display: block;
    }
    .boxpic, .boxpic1, .boxpic2, .boxpic3, .boxpic4{
        z-index: 1;
        width: 200px;
        height: 150px;
    }
    .bigboxpic, .bigboxpic1, .bigboxpic2, .bigboxpic3, .bigboxpic4{
        position:absolute;
        z-index: 2;
        width: 80%;
        height: 30%;   
    }
}
@media (max-width: 760px){
    .about_show{
        margin-top: 15px;
        margin-left: 18px;
    }
    .about_less{
        margin-top: 15px;
        margin-left: 18px;
    }
    .boxpic, .boxpic1, .boxpic2, .boxpic3, .boxpic4{
        z-index: 1;
        width: 150px;
        height: 100px;
    }
    .bigboxpic, .bigboxpic1, .bigboxpic2, .bigboxpic3, .bigboxpic4{
        position:absolute;
        z-index: 2;
        width: 85%;
        height: 20%;   
    }
    .firstname{
        font-weight: 500;
        font-size: 18px;
    }
    .say{
        padding: 10px 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .hi{
        color: white;
        font-size: 22px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    .about_text {
        text-indent: 50px;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 10px;
        color: white;
        text-align: justify;
        letter-spacing: 1px;
    }
    .bubbles .bb{
        display: none;
        z-index: 0;
        position: relative;
        width: 7px;
        height: 7px;
        background: #e300b6;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #ff7fe5,
         0 0 7px #fd00cb,
         0 0  15px #ff00cc;
        animation: bubble 20s linear infinite;
        animation-duration: calc(800s / var(--i));
    }
    .bb.active{
        display: block;
    }
    .bubbles .bb:nth-child(even){
        display:none;
        z-index: 0;
        background: #00fbff;
        box-shadow: 0 0 0 2px #5dfcff,
         0 0 7px #4afcff,
         0 0  15px #4afcff;
    }
    .bb:nth-child(even).active{
        display: block;
    }
    @keyframes bubble{
        0%, 100%{
          transform: translateY(-1200px) scale(1.5);
        }
        50%{
          transform: translateY(25px) scale(1.5);
        }
    } 
}











.skillbox{
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 85px;
    padding-bottom: 40px;
    background-image: url(images/cover5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-tag{
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    background-color: #221342;
    padding-top: 5px;
    padding-bottom: 5px;
}
.skills-say-box{
    margin: 10px 35px;
    justify-content: center;
    width: 350px;
}
.skills-say{
    font-size: 17px;
    text-indent: 50px;
    backdrop-filter: blur(3px);
    background-color: #221342a3;
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 80px;
    margin-bottom: 30px;
    color: whitesmoke;
    text-align: justify;
       
}
.skill-more, .skill-more1, .skill-more2, .skill-more3, .skill-more4{
    position: relative;
    z-index: 1;
    color: white;
    padding: 5px 6px;
    width:fit-content ;
    border-radius: 12px;
    background-color: #230c47;
    box-shadow: 0 0 5px #e45fff ;
    cursor: pointer; 
}
.skill-more:hover, .skill-more1:hover, .skill-more2:hover, .skill-more3:hover, .skill-more4:hover{
    box-shadow: 0 0 10px #e45fff ;
    scale: 1.1;
}
.skill-more.active, .skill-more1.active, .skill-more2.active, .skill-more3.active, .skill-more4.active{
    display: none;
}
.skills-say-more, .skills-say-more1, .skills-say-more2, .skills-say-more3, .skills-say-more4{
    display: none;
}
.spanless, .spanless1, .spanless2, .spanless3, .spanless4{
    display: block;
    font-size: 17px;
    height: 0px;
    overflow: hidden;
    animation: display1 1s ease-in-out ;
}
@keyframes display1{
    0%{
        height: 260px;
    }
    100%{
        height: 0px;
    }
}
.spanmore, .spanmore1, .spanmore2, .spanmore3, .spanmore4{
    font-size: 17px;
    display: block;
    overflow: hidden;
    animation: display 1s ease-in-out ;
}
@keyframes display {
    0%{
        height: 0;
    }
    100%{
        height: 260px;
    }
}
.skill-less, .skill-less1, .skill-less2, .skill-less3, .skill-less4{
    display: none;
    position: relative;
    z-index: 1;
    color: white;
    padding: 5px 6px;
    width:fit-content ;
    border-radius: 12px;
    background-color: #230c47;
    box-shadow: 0 0 5px #e45fff ;
    cursor: pointer; 
}
.skill-less:hover, .skill-less1:hover, .skill-less2:hover, .skill-less3:hover, .skill-less4:hover{
    box-shadow: 0 0 10px #e45fff;
    scale: 1.1;
}
.skill-less.active, .skill-less1.active, .skill-less2.active, .skill-less3.active, .skill-less4.active{
    display: block;
}
.box-picture-1st{
    cursor: grab;
    margin: auto auto;
    position:relative;
    width:200px;
    height:200px;
    transform-style:preserve-3d;
    animation:ikot 10s linear infinite;
}
.box-picture-1st:hover{
    animation-play-state: paused;
}
@keyframes ikot{
    from{
        transform:perspective(1200px) rotateY(0deg);
    }
  
    to{
        transform:perspective(1200px) rotateY(360deg);
    }
}
.box-picture-2nd{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    transform-origin:center;
    transform-style:preserve-3d;
    transform:rotateY(calc(var(--i) * 90deg)) translateZ(100px);
}
  
.skills-picture{
    box-shadow:0 0 12px #8000ff;
    border-radius: 1px;
    position:absolute;
    width:200px;
    height:200px;   
}



@media (max-width: 800px){
    .skillbox{
        padding-left: 5px;
        padding-right: 5px;
    }
    .box-picture-2nd{
        position:absolute;
        width:100%;
        height:100%;
        object-fit:cover;
        transform-origin:center;
        transform-style:preserve-3d;
        transform:rotateY(calc(var(--i) * 90deg)) translateZ(80px);
    }
      
    .skills-picture{
        box-shadow:0 0 12px #8000ff;
        border-radius: 1px;
        position:absolute;
        width:150px;
        height:150px;   
    }
    .box-picture-1st{
        cursor: grab;
        margin: auto auto;
        position:relative;
        width:150px;
        height:150px;
        transform-style:preserve-3d;
        animation:ikot 10s linear infinite; 
    }
    .skills-say-box{
        margin: 10px 10px;
        justify-content: center;
        width: 350px;  
    }
    
}



.contact-info-box{
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(images/cover8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-info-box{
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(
        from var(--border-angle),
        #213,
        #191931 50%,
        #213
      ),
      conic-gradient(from var(--border-angle), transparent 20%,  #4f4fbe, #6b32a3);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;
}
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

.contact-title{
    font-size: 30px;
    font-weight: 700;
    color: whitesmoke;
}
.contact-say{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-left: 10px;
}
.contact-box{
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
    padding: 3px 3px;
    box-shadow: 0 0 8px #9e45f7 ;
}
.contact-pic{
    width:100%;
    height:100%;
    object-fit:cover;
}
.contact-text{
    position: absolute;
    color: whitesmoke;
    font-size: 17px;
    font-weight: 500;
    margin-left: 75px;
    margin-top: -50px;
}






.footer-box{
    background-color: #221342;
    padding: 30px 15px;
    display: flex;
    justify-content: center;
}
.footer-container{
    color: whitesmoke;
}
.footer-span{
    color: #00ddff;
}


.fade-in {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
.fade-in1 {
    opacity: 1;
    animation: fade 1.5s ease-in-out;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}